<a href="http://wiki.ros.org/roslibjs/Tutorials/BasicRosFunctionality">roslibjs tutorial: Basic ROS functionality with roslibjs</a>
<div>
  <button (click)="connect()">Connect</button>
  <button (click)="disconnect()">Disconnect</button>  
</div>
<div>
  <button (click)="publishTopic()">Publish Topic</button>
  <button (click)="subscribeTopic()">Subscribe Topic</button>
  <label>Sub message: {{subscribeMessage}}</label>
</div>
<div>
  <button (click)="callService()">Call Service</button>
</div>
<div>
  <button (click)="getAndSetParam()">Get and Set Param</button>
</div>
