<a href="http://wiki.ros.org/roslibjs/Tutorials/BasicRosFunctionality">Basic ROS functionality with roslibjs tutorial</a>
<div>
  <button (click)="connect()">Connect</button>
  <button (click)="disconnect()">Disconnect</button>  
</div>
<div>
  <button (click)="publishTopic()">Publish Topic</button>
  <button (click)="subscribeTopic()">Subscribe Topic</button>
  <p>{{subscribeMessage}}</p>
</div>
<div>
  <button (click)="callService()">Call Service</button>
</div>
<div>
  <button (click)="getAndSetParam()">Get and Set Param</button>
</div>
